- author = find_author(current_article.data.author)
= wrap_layout :layout do
  %header.intro-header{:style => "background-image: url('/img/post-bg.jpg')"}
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .post-heading
            %h1
              = current_article.title
            %h2.subheading
              Subhead goes here
            %span.meta
              Posted by
              %a{:href => "#"}
                = author.name
              on
              = current_article.date.strftime('%B %e, %Y')
  / Post Content
  %article
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          = find_and_preserve(yield)
