!!!
%html{:lang => "en"}
  /
  %head
    = partial "partial/head"
  /
  %body
    = partial "partial/navigation"
    /
    = yield
    %hr/
    = partial "partial/footer"
  / Javascript
  = partial "partial/javascript"
